* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: system-ui;
}

body {
    height: 100vh;
    padding: 32px;
}

h1 {
    font-weight: 900;

    text-align: center;

    font-size: clamp(50px, 8vw, 80px);
}
