:root {
    --bg-color: #312614;
    --highlight-color: #87832f;
    --font-color: #707070;
    --color-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.container {
    width: 100%;

    max-width: 980px;

    margin-right: auto;
    margin-left: auto;

    padding-left: 0.5em;
    padding-right: 0.5em;

    border: 2px solid red;
}

.title-img {
    width: 100%;
}

.columns {
    display: flex;

    column-gap: 2em;

    margin-bottom: 2.5em;
}
