*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.container {
    width: 100%;

    max-width: 50rem;

    margin-right: auto;
    margin-left: auto;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 2px solid red;
}

.title-img {
    width: 100%;
}
