:root {
    --bg-color: #312614;
    --highlight-color: #87832f;
    --font-color: #707070;
    --color-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;

    color: var(--font-color);
}

.container {
    /* width: 100%; */
    width: 95%;

    max-width: 980px;

    margin-right: auto;
    margin-left: auto;

    padding-left: 0.5em;
    padding-right: 0.5em;

    border: 2px solid red;
}

.title {
    font-size: 3rem;

    text-align: center;
}

.title span {
    color: var(--highlight-color);
}

.title-img {
    /* width: 100%; */

    max-width: 100%;
}

.columns {
    display: flex;

    /* column-gap: 1em; */

    margin-bottom: 2.5em;
}

.col.one {
    border: 2px solid green;

    width: 25%;
}

.col.two {
    border: 2px solid red;

    width: 50%;
}

.col.three {
    border: 2px solid orange;

    width: 75%;
}

.col:not(.aside) {
    /* width: auto; */
}

.col-title {
    font-size: 1.5rem;
}

.aside {
    font-size: initial;
    background-color: var(--bg-color);

    width: 25%;

    padding: 0.75em;
}

/* Typography */

/* Layout */
