/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;

- Mobile: 375px
- Desktop: 1440px
*/

/* general utilities */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 1rem;
}

header {
    background-color: #f8f8f8;
}

/* typography */
h1,
h2,
h3 {
    font-weight: 700;
    color: #143774;
}

h1 {
    font-size: 2rem;
    border: 2px solid red;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

.subtitle {
    color: #1792d2;
    font-size: 0.75rem;
}

img {
    max-width: 100%;

    display: block;
}

.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    text-transform: uppercase;
    text-decoration: none;
}

/* layout */
.container {
}

.container-flex {
}
