/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;

- Mobile: 375px
- Desktop: 1440px
*/

/* general utilities */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 1rem;
}

/* typography */
h1,
h2,
h3 {
    font-weight: 700;
    color: #143774;
}

h1 {
    font-size: 2rem;
    border: 2px solid red;
}

h2 {
    /* color: #143774; */
}

p {
    font-size: 1rem;
}

.subtitle {
    color: #1792d2;
}

img {
    max-width: 100%;

    display: block;
}

/* layout */
