/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;

- Mobile: 375px
- Desktop: 1440px
*/

/* general utilities */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
}

body {
    font-family: Ubuntu, sans-serif;
    font-size: 1rem;
}

header {
    background-color: #f8f8f8;

    padding: 2em 0;

    margin-bottom: 3em;
}

/* typography */
h1,
h2,
h3 {
    font-weight: 700;
    color: #143774;
    font-family: "Lora", sans-serif;
}

h1 {
    font-size: 2rem;

    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

.subtitle {
    color: #1792d2;
    font-size: 0.75rem;

    text-align: center;
}

p {
    font-size: 1rem;
}

img {
    max-width: 100%;

    display: block;
}

a {
    color: #1792d2;

    font-size: 0.85rem;
}

a:hover,
a:focus {
    color: #143774;
}

.article-info {
    font-size: 0.875rem;

    order: -1;

    margin: 1em 0;
}

.article-read-more {
    text-transform: uppercase;
    text-decoration: none;

    font-weight: 700;
}

/* layout */
.container {
    width: 90%;
    /* max-width: 900px; */
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

.container-flex {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

/* header */
.site-title {
    margin-bottom: 2em;
}

nav ul {
    text-align: center;

    /* border: 2px solid red; */

    /* width: 100%; */
    /* width: 100vw; */

    /* padding: 0; */
}

nav li {
    margin-bottom: 1em;
    list-style: none;

    /* padding: 0; */

    /* display: block; */
    /* width: 100%; */

    /* border: 2px solid green; */
}

nav a {
    text-decoration: none;

    color: #717171;

    text-transform: uppercase;

    font-weight: 700;

    font-size: 0.8rem;

    /* width: 100%; */

    /* display: block; */
    padding: 0.5em 6em;
}

/* article */
.article-featured {
    display: flex;
    flex-direction: column;

    margin: 2em 0;
}

.article-body {
    padding: 1em 0;
}

.article-image {
    order: -2;
}

/* 
border: 2px solid red;

border: 1px solid purple;

border: 2px solid green;

border: 2px solid cadetblue;
    
    border: 2px solid orange; 
    
    
    */
