* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}
html {
  font-size: 62.5%;
}
body {
  width: 37.5rem;
  max-width: 144rem;
  margin: 0 auto;
  font-family: "Red Hat Display";
  font-size: 1.6rem;
  font-weight: 500;

  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  margin-top: 50px;
  border: 2px solid red;
  border-radius: 20px;
  background-color: #fff;
}
.illustration-hero-img {
  max-width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.order-content {
  border: 2px solid green;
  padding: 40px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.order-title {
  text-align: center;
  margin-bottom: 24px;
}
.order-content p {
  color: var(--desaturated-blue);
  padding: 0 10px;
  line-height: 1.6;
  margin-bottom: 36px;
}
.subscription {
  display: flex;
  align-items: center;
  /* border: 2px solid purple; */

  margin-bottom: 36px;
  padding: 12px 16px;
  background-color: var(--very-pale-blue);
  border-radius: 20px;
}

.annual-plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 16px;
}
.annual-plan {
  font-weight: 700;
  margin-bottom: 4px;
}
