html {
  font-size: 62.5%;
}
body {
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 98%);

  /* padding: 1rem; */
}
.order {
  background-color: #fff;
  border: 2px solid green;

  width: 37.5rem;
  max-width: 144rem;
  margin: 0 auto;

  border-radius: 20px;

  /* text-align: center; */
}

.illustration-hero {
  max-width: 100%;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
