.order {
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;

  background-color: hsl(225, 100%, 98%);

  border: 2px solid green;

  width: 85%;
}

.illustration-hero {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
